DATABASE_URL="postgresql://postgres:postgres@localhost:5432/careerorbit"
AUTH_SECRET="replace-with-a-random-secret-of-at-least-32-characters"
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
RESEND_API_KEY=""
AUTH_EMAIL_FROM="CareerOrbit <noreply@example.com>"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
